include DashAI/alembic.ini
recursive-include DashAI/alembic *
recursive-include DashAI/front/build *
recursive-include DashAI/back/models/parameters/models_schemas *
recursive-include DashAI/back/dataloaders/dataloaders_schemas *
recursive-include DashAI/back/dataloaders/description_schemas *
recursive-include DashAI/back/dataloaders/params_schemas *
recursive-include DashAI/back/types *
recursive-include DashAI/back/seeds *
prune tests/
recursive-include DashAI/back/static/images/ *
