recursive-include DashAI/front/build *
recursive-include DashAI/back/models/parameters/models_schemas *
recursive-include DashAI/back/dataloaders/dataloaders_schemas *
recursive-include DashAI/back/dataloaders/description_schemas *
recursive-include DashAI/back/dataloaders/params_schemas *
recursive-include DashAI/back/example_datasets *
prune tests/
