fastapi[all]>=0.96
SQLAlchemy>=2.0
alembic==1.11.1
numpy>=1.17.3
joblib>=1.2.0
pydantic>=2.0.2
pydantic-settings>=2.0.1
starlette>=0.27.0,<0.28.0
scikit-learn>=1.2.1
datasets>=2.9.0
evaluate>=0.4.0
accelerate>=0.20.3
Pillow>=9.5.0

torch==1.13.0 #+cu116
--find-links https://download.pytorch.org/whl/torch_stable.html
transformers>=4.23.1
sacrebleu>=2.3.1
sentencepiece>=0.1.97
