--extra-index-url https://download.pytorch.org/whl/cu118
fastapi[all]
SQLAlchemy
streaming_form_data
alembic
kink
numpy
joblib
pydantic
pydantic-settings
starlette
scikit-learn
datasets
diffusers
evaluate
accelerate
llama-cpp-python==0.2.90
Pillow
beartype
plotly
shap
typer
rich
torch==2.4.1
torchvision
transformers
sacrebleu
sentencepiece
optuna
hyperopt
openpyxl
httpx
wordcloud
imblearn
