fastapi[all]
SQLAlchemy==1.4.36
scikit-learn==1.0.2
transformers==4.23.1
sacrebleu==2.3.1
datasets==2.6.1
sentencepiece==0.1.97
evaluate==0.3.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu116
